<% if flash[:danger].present?%>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:danger].html_safe %>  
  </div>
<% elsif flash[:success].present?%>
   <div class="alert alert-success">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:success].html_safe %>  
    </div>
<%end%>