<footer id="footer">
    <section class="footer footer-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget widget-about-us la-hover">
                        <h5 class="letter-animation" data-speed="1500">CONTACT</h5>
                        <p>171 Rehman Villas</p>
                        <p>Airport Road Bhatta Chowk</p> 
                        <p>Lahore Pakistan</p>
                        <p>Phone: +92 321 444 13 93</p>
                        <ul class="nav-pills nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget la-hover">
                        <h5 class="letter-animation" data-speed="1500">TEAM CONTACT</h5>
                        <ul>
                            <li>
                                <h6><a href="#">Arif Changezi</a></h6>
                                <p>Phone: +92 321 800 98 40</p>
                            </li>
                            <li>
                                <h6><a href="#">Usman Qureshi</a></h6>
                                <p>Phone: +92 321 444 13 93</p>
                            </li>
                            <li>
                                <h6><a href="#">Tahir Bin Qulander</a></h6>
                                <p>Phone: +92 345 446 20 57</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget la-hover">
                        <h5 class="letter-animation" data-speed="1500">SUGGESTIONS</h5>
                        <ul>
                            <li><h6><a href="#">171 Rehman Villas</a></h6></li>
                            <li><h6><a href="#">Defence Road</a></h6></li>
                            <li><h6><a href="#">Lahore Pakistan</a></h6></li>
                            <li><h6><a href="#">54000</a></h6></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget la-hover">
                        <h5 class="letter-animation" data-speed="1500">PHOTO STREAM</h5>
                        <div class="flickr-container" data-count="8" data-userid="71865026@N00" data-apikey="">
                            <a href="#"><img src="https://farm4.static.flickr.com/3942/15522706046_724055dc48_s.jpg"></a>
                            <a href="#"><img src="https://farm8.static.flickr.com/7373/10412001266_483a1e4c9d_s.jpg"></a>
                            <a href="#"><img src="https://farm4.static.flickr.com/3705/10278343103_dd92d24d07_s.jpg"></a>
                            <a href="#"><img src="https://farm6.static.flickr.com/5529/9163716976_d5d1a0c052_s.jpg"></a>
                            <a href="#"><img src="https://farm4.static.flickr.com/3832/9391366956_eae44dee74_s.jpg"></a>
                            <a href="#"><img src="https://farm8.static.flickr.com/7275/13965306323_17d0a8f644_s.jpg"></a>                       
                        </div>                                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center">
                        <p class="footer">© 2015 studioBQ. All Rights Reserved.</p>
                    </div>
                    <a href="#" class="footer-toggle"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-toggle">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </section>
</footer>