<footer id="footer">
    <section class="footer footer-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget widget-about-us la-hover">
                        <h5 class="letter-animation" data-speed="1500">ABOUT US</h5>
                        <p>121 King Street, Melbourne </p>
                        <p>Victoria 3000 Australia</p> 
                        <p>E-Mail:  no-replay@envato.com</p>
                        <p>Phone: +61 3 8376 6284</p>
                        <ul class="nav-pills nav">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget la-hover">
                        <h5 class="letter-animation" data-speed="1500">RECENT POSTS</h5>
                        <ul>
                            <li>
                                <h6><a href="#">Class aptent taciti sociosqu ad</a></h6>
                                <p>11 April, 2015</p>
                            </li>
                            <li>
                                <h6><a href="#">Fusce turpis ex, porta non tempus</a></h6>
                                <p>04 April, 2015</p>
                            </li>
                            <li>
                                <h6><a href="#">Class aptent taciti sociosqu</a></h6>
                                <p>31 March, 2015</p>
                            </li>
                            <li>
                                <h6><a href="#">Cras sodales lacus vitae nunca</a></h6>
                                <p>28 March, 2015</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget la-hover">
                        <h5 class="letter-animation" data-speed="1500">OTHER LINKS</h5>
                        <ul>
                            <li><h6><a href="#">Aenean id quam lectus</a></h6></li>
                            <li><h6><a href="#">Morbi nisl mauris, consectetur at</a></h6></li>
                            <li><h6><a href="#">Fusce enim elit, faucibus facili</a></h6></li>
                            <li><h6><a href="#">In hac habitasse platea</a></h6></li>
                            <li><h6><a href="#">Praesent pulvinar, mi tristique </a></h6></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="widget la-hover">
                        <h5 class="letter-animation" data-speed="1500">PHOTO STREAM</h5>
                        <div class="flickr-container" data-count="8" data-userid="71865026@N00" data-apikey="817d59b480172b8e698db8da5335a2d1">
                        </div>                                    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="center">
                        <p class="footer">© 2015 Hilld. All Rights Reserved.</p>
                    </div>
                    <a href="#" class="footer-toggle"><i class="fa fa-angle-down"></i></a>
                </div>
            </div>
        </div>
    </section>
    <section id="footer-toggle">
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </section>
</footer>